<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
>
	<testsuites>
		<testsuite name="Frontend Uploader Test Suite">
			<directory suffix=".php">tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<ini name="display_errors" value="true"/>
	</php>
</phpunit>
